body {
    background-color:#212529;
}

#counter {
    letter-spacing: 40px;
    font-size: 80px;
    text-align: center;
    font-family: sans-serif;
    color: whitesmoke;
}

button {
    width: 100px;
    border-radius: 10px;
    background-color: rgba(186, 122, 2, 0.641);
    color: white;
    margin: 5px;
    text-transform: uppercase;
}
.fa-solid {
    color: #dc3545;
}

